body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 100px;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.cell {
  float: left;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
}
.cell img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.selected {
  outline: 5px dashed #0086b3;
  box-sizing: border-box;
}
